// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'WeatherAndTime';
  src: url(font-path('weather-and-time/weather-and-time.ttf'));
}

$black: #000;
$white: #fff;

.weather {
  font-family: 'WeatherAndTime';
  font-size: 1.5rem;
}

.carousel-indicators--round {
  li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid $black;
    background-color: transparent;
  }
}
.carousel-indicators {
  .active {
    background-color: $black;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
  }
}
.carousel-control-prev, .carousel-control-next{
  top: -45px;
  color: $black;
  &:hover {
    color: $black;
  }
}

.route-history {
  a.cell {
    color: $black;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    &:hover {
      color: #545454;
    }
  }
}

.navbar-brand {
  .direction {
    line-height: 1.25rem;
    text-align: center;
    p.header{
      margin-bottom: 0;
    }
    #eta {
      font-size: 0.75rem;
    }
  }
}

.bus-stops {
  li {
    border: none;
    padding-left: 0;
    padding-bottom: 0;
  }
}
.bus-arrivals {
  color: $white;
  p.min {
    font-weight: bold;
    margin-bottom: 0rem;
    &:after {
      font-size: 0.5rem;
      content: " min"
    }
  }
  td:first-child {
    width: 80%;
    background-color: #717171;
  }
  td:last-child {
    background-color: $black;
  }
}
