<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<% if @header %>
<div class="navbar-brand w-100 d-flex justify-content-between">
  <div class="p-2">
    <a style="color:black;" href="/"><i class="fa fa-lg fa-angle-left" aria-hidden="true"></i></a>
  </div>
  <div class="p-2"><%= @header %></div>
  <div class="p-2"><span class="weather"><%= RoutesHelper.to_weather_icon @weather %></span></div>
</div>
<% else %>
<a class="navbar-brand font-weight-bold text-success mx-auto" href="/">
  <i class="fa fa-lg fa-map-marker" aria-hidden="true"></i>&nbsp;TranSing
</a>
<% end %>
</nav>
